
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'}">
    <title>Document</title>
</head>
<body>
<div class = "container">
    <div class = "row mt-5">
        <div class = "col-md-12">
            <form th:action="@{'/saveitem'}" method="post">
                <div class="form-group">
                    <label>NAME: </label>
                    <input type="text" name="name" class="form-control" placeholder="item_name" th:value="${item.name}">
                </div>
                <div class="form-group">
                    <label>PRICE: </label>
                    <input type="number" name="price" class="form-control" placeholder="item_price" value="0" max="1.000.000.000" th:value="${item.price}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">SAVE ITEM</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>